@model VidlyTutorial.Models.Movie
@{
    ViewBag.Title = "Details";
}
<div><h2>@Model.Name</h2></div>

<div>
    <ul>
        <li>@Html.ActionLink(Model.Name, "Edit", "Movies", new { id = Model.Id }, null) </li>
        <li>Release Date: @Html.ValueFor(m => m.ReleaseDate, "{0:d MMM yyyy}")</li>
        <li>Date Added: @Html.ValueFor(m => m.DateAdded, "{0:d MMM yyyy}")</li>
        <li>Number in Stock: @Model.NumberInStock.ToString()</li>
        
    </ul>
</div>

